@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: josefin;
    src: url('/fonts/JosefinSans-Light.ttf');
}

@layer base{
    body{
        @apply bg-black text-white font-josefin font-light text-xs
    }

    h1{
        @apply text-[64px]
    }

    .boxshadow{
        box-shadow: 0 0 2px #e6e6e6,
        0 0 5px #e6e6e6,
        0 0 20px #e6e6e6
    }

    .button1{
        @apply text-[9px] px-6 py-2 uppercase outline outline-[0.75px] tracking-wider outline-[#585858] rounded-full font-josefin font-thin
    }

    .button1:hover{
        @apply bg-[#e6e6e6] text-black font-normal boxshadow outline-none transition ease-in-out duration-500 cursor-pointer
    }
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
}